<h1><%= @soup.name %></h1>

<% if @soup.featured? %>
	<p>This soup is featured this month</p>
<% else %>
	<p>This soup is not in season, hence it sucks</p>
<% end %>

<%= link_to "Back to SoupCategories", categories_path %>
<% if params[:admin] == "true" %>
<p><%= link_to "Toggle Featured", toggle_featured_path(@soup) %></p>
<% end %>